.tag-section{
  padding:7.5rem 0;

  @media (max-width:767px){
    padding:5rem 0;
  }
}

.banner-img-3{
  width:160%;
position: absolute;
overflow: hidden;
right: 0;

@media (max-width:1024px){
  position: relative;
  width:100%;
  text-align: center;
}
}

.tag-row{
 display: flex;
      justify-content: center;

        @media (max-width:1024px){

          flex-wrap: wrap;
        }

    .tag{
      height:5.375rem;
      min-width:17.25rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size:1.375rem;
      font-family:$mont-bold;
      margin:1.688rem;

      @media (max-width:1024px){
      min-width: 9rem;
      font-size: 1rem;
      margin: 1.5rem;
      }
    }

    .black-border{
      color:$yellow-color;
      border: 3px solid $black-color;
      border-radius:40px 10px;
    }
        .yellow-border{
      color:$black-color;
      border: 3px solid $yellow-color;
      border-radius:40px 10px;
    }


}

.reverse-section{
    
    @media (max-width:768px){
             margin-bottom:5rem !important;
    }
    h2, p{
        text-align:right;
        
        @media (max-width:768px){
            text-align: center;
        }
    }
    
    .txt-img-grp.justify-content-end{
        justify-content: flex-start !important;
        
    }
    
  
}

.non-reverse-section{
    @media (max-width:768px){
            text-align: center;
           
        } 
}

.reverse-section, .non-reverse-section{
  @media (max-width:768px){
        figure.main-fig{
            margin-bottom:5rem !important; 
        }
    }
}