.marginT34{
	margin-top:2.125rem;
}

.main-heading-spacing{
	margin-bottom: 3.5rem;
}

.section-margin-top{
	margin-top: 4.5rem;
}

.section-margin-bottom{
	margin-bottom:4.5rem;
}

.section-padding-top{
	padding-top: 4.5rem;
}

.section-padding-bottom{
	padding-bottom:4.5rem;
}