footer{
	padding:3.125rem 0 3.75rem;
	margin-top:5rem; 
@media (max-width:767px){
	margin-top:0;
	text-align:center; 
	.contact-info{
		margin:3rem 0; 
	}
	}
}

.social-media{
	margin-top:20px;

	ul{
		display:flex;

		@media (max-width:767px){
			justify-content:center;
		}

		li{
			margin:0 14px; 

			a{
				font-size:32px;
				color:$white-color;
				transition:$transition-speed;

				&:hover{
					color:$yellow-color;
				}
			}
		}
	}
}

.footer-links{
	display: flex;
	  flex-wrap: wrap; 

	  @media (max-width:767px){
	  	justify-content: space-between;
	  }
	 

	ul{


		li{ 
			 margin-bottom: 12px;
    margin-right: 4rem;

     @media (max-width:768px){
    	margin-right: 1rem;

    }

    @media (max-width:767px){
    	margin-right: 1rem;
margin-left: 1rem;
    }

			a{
				font-size:14px;
				color:$gray-color-3 !important;
				  letter-spacing: 0.61px;
				  display: block;
				  text-align: left;
				  transition:$transition-speed;

				  	&:hover, &:focus, &:active{
						    text-decoration:none;
						    color:$yellow-color !important;
						    transform:translate(3px, 0); 
						    
						}


			}
		}
	}
}

.footer-heading{
	  color:$white-color; 
  font-size: 1.313rem;
  letter-spacing: 0.2px;
   font-family:$aileron-bold;
   text-transform:uppercase;
   margin-bottom:1.5rem; 
}