header{
    height:5.125rem;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index:9;
    background: rgba(7, 7, 7, 0.8);
    -moz-backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);


}


.navbar{

@media (max-width:767px){
.navbar-collapse{
	background-color:rgba(0,0,0,.9);
	position: absolute;
	top:100%;
	width:100%;
	left:0;
	right:0; 
	padding-bottom:2rem; 
	padding-top:1rem; 
}
}
	.navbar-nav{

		.nav-item{

			margin: 0 1.4rem;

			@media (max-width:767px){
				margin:1rem 0 0;
			}

			&:last-child{
				margin-right:0;
			}
				.nav-link{
					color:$white-color;
					font-size:1rem;
					text-transform:uppercase;
					font-family:'Roboto', sans-serif;
					font-weight:700;
					transition:$transition-speed;

					&.active, &:hover, &:focus{
						color:$yellow-color;
					}
				}
		}
	}

	@media (max-width:767px){
		.navbar-brand{

			img{
				width:120px;
			}
		}
	}
}